
    body {
      margin: 0;
      padding: 0;
      /* width: 1440px; */
      max-width: 100%;
    }
    *{
      margin: 0;
    }

    .header {
      background-color: #fff;
      width: 100%;
      height: 133px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
    }

    .header-container {
      /* width: 1315.42px; */
      width: auto;
      /* height: 40.46px; */
      display: flex;
      align-items: center;
      padding-top: 52.54px;
      padding-left: 63.58px;
      justify-content: space-between;
    }

    .logo {
        font-family: 'Cormorant Garamond', serif;
        font-size: 50px;              
        letter-spacing: 6px;                      
        text-transform: uppercase;    
        font-weight: bold;
        height: 37.53px;
        display: flex;
        align-items: center;
    }

    .menu-icon {
      display: none;
      font-size: 42px;
      cursor: pointer;
      color: #000;
      width: 24px;
      height: 14px;
    }

    .nav {
        display: flex;
        width: 443px;
        height: 40.46px;
        align-items: center;
        padding-top: 6.46px;
    }


    .nav-item a {
        font-family: 'EB Garamond', serif;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        color: #000;
        text-decoration: none;
        position: relative;
        font-weight: bold;
    }

    .nav a.active::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: #000;
    }

    .nav-item.about {
        margin-left: 31px;
    }

    .nav-item.links {
        margin-left: 34px;
    }

    .nav-item.projects {
        margin-left: 36px;
    }

    .intro {
      height: 949px;
      box-sizing: border-box;
    }

    .intro-container {
      width: 854px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding-top: 76px;
      padding-bottom: 34px;
    }

    .img-hero {
      width: 100%;
      height: auto; 
      max-width: 100%;
    }

    .main-title {
      font-family: 'Playfair Display', serif;
      font-size: 54px;
      font-weight: 700px;
      text-align: center;
      margin-top: 44px;
      margin-bottom: 0;
      width: 100%;
      height: 162px;
      display: flex;
      align-items: center;
    }

    .subtitle {
      font-family: 'IBM Plex Mono', monospace;
      font-weight: 400px;
      font-size: 20px;
      line-height: 170%;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 0;
      width: 592px;
    }
    
    .custom-line {
      width: 640px;                 
      margin: 0 auto;
      border-top: 2px solid #000;     
    }

    .art-content {
      margin: 0;
      width: 100%;
      height: auto;
    }

    .art-container {
      width: 640px;
      height: auto;
      padding: 64px 0 113px;
      margin: auto;
    }


    .art-container h3 {
      width: 100%;
      height: 53px;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      font-size: 44px;
      line-height: 100%;
      letter-spacing: 0;
      margin: 0 0 39px;
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 304px);
      gap: 64px 28px;
      justify-content: center;
    }

    .art-desktop {
      display: block;
    }

    .art-mobile {
      display: none;
    }
    
    .article-card1 img {
      width: 304px;
      height: 176px;
      aspect-ratio: 19 / 11;
      display: block;
      margin: 0;
    }

    .card-content1 {
      width: 262px;
      height: 104px;
      font-size: 22px;
      font-family: 'SF Pro Display', serif;
      line-height: 1.4;
      text-align: center;
      padding: 20px 21px 0;
      margin: 0;
      display: flex;
      text-align: center;
    }

    .footer {
      background-color: #000;
      width: auto;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
      font-family: 'Georgia', serif;
      height: 464px;
      overflow: hidden;
    }

    .content-footer {
      width: 100%;
      padding: 18px 0 32px;
    }

    .footer-tags {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: center;
      line-height: 28px;
      max-width: 100%;
      overflow: hidden;
      letter-spacing: 3px;
      white-space: nowrap;
    }


    .tag {
      display: inline-block;
      max-width: 100%;
      color: #fff;
      font-weight: normal;
      height: 28px;
    }

    .bold {
      font-weight: bold;
    }

    .footer-cap {
      width: 481px;
      margin: 105.12px auto 64px;
    }


    .footer-logo {
      font-family: 'Cormorant Garamond', serif;
      font-size: 35px;
      letter-spacing: 4px;
      margin: auto 0;
      /* height: 27.3px; */
    }

    .footer-sub {
      font-family: 'New York Small';
      width: 488px; 
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      text-align: center;
      margin: 25.58px auto 0;
    }

    .footer-links {
      flex-wrap: nowrap;  
      margin: 0;
    }

    .footer-links a {
      margin: 32px auto 0;
      font-weight: 500;
      line-height: 170%;
      font-family: 'Inter', sans-serif;
      color: #fff;
      text-decoration: underline;
      font-size: 16px;
      display: inline-block;
      font-weight: normal;
    }

    .footer-links .link1 {
      margin-right: 27px;
    }

    .footer-links .link2 {
      margin-right: 29px;
    }

    .footer-bottom {
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 500px;
      line-height: 140%;
      color: #ffffff;
      margin: 0;
    }


@media (max-width: 768px) {

  .header {
      height: 110px;
      display: flex;
      align-items: center;
    }
    

  .menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
  }

  .nav {
    display: none; 
  }

  .header-container {
    height: auto; 
    padding: 16px 20px;
    width: 100%;
  }

  .logo {
    font-size: 35px;
    letter-spacing: 2px;
  }

  .intro {
    height: auto;
  }

  .intro-container {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  .img-hero {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-top: 64px;
  }

  .main-title {
    width: 100%;
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
  }

  .subtitle {
    width: 80%;
    font-size: 18px;
    padding: 0 20px;
    line-height: 170%;
    font-weight: 400;
    text-align: center;
    margin: 24px 0 52px;
    box-sizing: border-box;
  }
  .custom-line {
    width: auto;
  }


  .footer{
    overflow-x: hidden;
  }

  .footer-tags {
    font-size: 16px;
    gap: 6px 10px;
  }

  .footer-cap {
    width: auto;
  }

  .footer-sub {
    width: auto;
  }

  .footer-logo {
    font-size: 30px;
  }

  .footer-sub {
    font-size: 13px;
    padding: 0 62px;
  }

  .footer-links a {
    font-size: 13px;
    margin: 32px auto 0;

  }

  .footer-links .link1 {
      margin-right: 27px;
    }

    .footer-links .link2 {
      margin-right: 29px;
    }

  .footer-bottom {
    font-size: 12px;
    padding: 0 12px;
  }

  .art-container {
    width: auto;
  }
  .grid {
    display: block;
    padding: 0 16px;
  }

  .art-desktop {
    display: none;
  }

  .art-mobile {
    display: block;
  }

  .article-card2 {
    margin-bottom: 32px;
    text-align: center;
  }

  .article-card2 img {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* aspect-ratio: 19 / 11; */
    display: block;
    margin: 0 auto;
  }

  .card-content2 {
    font-size: 20px;
    font-family: 'SF Pro Display', serif; 
    line-height: 1.4;
    padding: 16px;
    text-align: center;
  }
}

@media (max-width: 1021px) {
  .nav {
    display: none; 
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 432px) {

  .logo {
    font-size: 27px;
  }

  .img-hero {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-top: 52px;
  }

  .main-title {
    width: 100%;
    font-size: 36px;
    text-align: center;
    box-sizing: border-box;
  }

  .subtitle {
    width: 80%;
    font-size: 16px;
    padding: 0 20px;
    line-height: 170%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    box-sizing: border-box;
  }
}